aside.sidebar
    .widget.widget-gallery#js-widget-gallery
        h3.widget__title Imaginile bisericii
        ul.gallery-list
            li
                a(href="assets/i/biserica2018.jpg")
                    img(src="assets/i/biserica2018.jpg" alt="")
            li
                a(href="assets/i/biserica-veche-2.jpg")
                    img(src="assets/i/biserica-veche-2.jpg" alt="")
            li
                a(href="assets/i/biserica-veche.jpg")
                    img(src="assets/i/biserica-veche.jpg" alt="")
            li
                a(href="assets/i/biserica2010.jpg")
                    img(src="assets/i/biserica2010.jpg" alt="")
    .widget.widget-schedule
        h3.widget__title Sarbatorile saptaminii
        ul.widget-schedule__list
            li
                span.widget-schedule__item.widget-schedule__date
                    span.widget-schedule__day Miercuri
                    span.widget-schedule__time 08:30
                span.widget-schedule__item.widget-schedule__holiday Sfintul Ioan gura de aur
