header.main-header
    ul.main-menu
        li
            a(href="#") Principala
        li
            a(href="#") Predici
        li
            a(href="#") Rugaciuni
        li
            a(href="#") Calendar
        li
            a(href="#") Alte video
        li
            a(href="#") Contacte
