header.main-header
    .container
        .main-header__wrap
            ul.main-menu
                li.current-menu-item
                    a(href="#") Principala
                li
                    a(href="#") Predici
                li
                    a(href="#") Rugaciuni
                li
                    a(href="#") Calendar
                li
                    a(href="#") Alte video
                li
                    a(href="#") Contacte

            .search
                input(type="search")
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20pt" height="20pt" viewBox="0 0 20 20" version="1.1">
                    <g id="surface1">
                        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 19.726562 17.292969 L 15.832031 13.398438 C 15.65625 13.222656 15.417969 13.125 15.167969 13.125 L 14.53125 13.125 C 15.609375 11.746094 16.25 10.011719 16.25 8.125 C 16.25 3.636719 12.613281 0 8.125 0 C 3.636719 0 0 3.636719 0 8.125 C 0 12.613281 3.636719 16.25 8.125 16.25 C 10.011719 16.25 11.746094 15.609375 13.125 14.53125 L 13.125 15.167969 C 13.125 15.417969 13.222656 15.65625 13.398438 15.832031 L 17.292969 19.726562 C 17.660156 20.09375 18.253906 20.09375 18.617188 19.726562 L 19.722656 18.621094 C 20.089844 18.253906 20.089844 17.660156 19.726562 17.292969 Z M 8.125 13.125 C 5.363281 13.125 3.125 10.890625 3.125 8.125 C 3.125 5.363281 5.359375 3.125 8.125 3.125 C 10.886719 3.125 13.125 5.359375 13.125 8.125 C 13.125 10.886719 10.890625 13.125 8.125 13.125 Z M 8.125 13.125 "/>
                    </g>
                </svg>

