section.intro(style="background-image: url('assets/i/intro-bg-optimized.jpg')")
    .header-logo
        h1
            a(href="http://bunavestire.host1670806.hostland.pro/") Biserica Bunavestire
        p.site-description din Chishinau
