extends template

block css
    //- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Main

block content
    include ../includes/mixins
    .hidden
        include ../../../build/assets/i/svg/inline/sprite.svg


    include ../includes/intro
    include ../includes/header
    main.main
        .container
            .main__wrap
                .main__content
                    .posts
                        .posts__item
                            a.posts__link(href="assets/i/serafim_sarov.jpg")
                                img.posts__img(style="background-image: url('assets/i/serafim_sarov_small.jpg')")
                            a.posts__tag(href="#") Alte video
                            h2.posts__title
                                a(href="#") Преподобный Серафим Саровский
                            h3.posts__short-text
                        .posts__item
                            a.posts__link(href="assets/i/ioan_cronstatd.jpg")
                                img.posts__img(style="background-image: url('assets/i/ioan_cronstatd_small.jpg')")
                            a.posts__tag(href="#") Alte video
                            h2.posts__title
                                a(href="#") Всероссийский Батюшка. Отец Иоанн Кронштадтский
                            h3.posts__short-text
                        .posts__item
                            a.posts__link(href="assets/i/serafim_sarov.jpg")
                                img.posts__img(style="background-image: url('assets/i/serafim_sarov_small.jpg')")
                            a.posts__tag(href="#") Alte video
                            h2.posts__title
                                a(href="#") Преподобный Серафим Саровский
                            h3.posts__short-text
                        .posts__item
                            a.posts__link(href="assets/i/ioan_cronstatd.jpg")
                                img.posts__img(style="background-image: url('assets/i/ioan_cronstatd_small.jpg')")
                            a.posts__tag(href="#") Alte video
                            h2.posts__title
                                a(href="#") Всероссийский Батюшка. Отец Иоанн Кронштадтский
                            h3.posts__short-text

                aside.sidebar

    include ../includes/scripts/ie-scripts

block scripts
    script(src="assets/libs/jquery.enllax.min.js")
