html,
body {
  font-size: 17px;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 700px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: $tundora;
  background: $gallery;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  @include reset-list;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1160px;
}
.main {
  position: relative;
  padding: 50px;
  background: #f2f2f2;
  z-index: 1;
}
.to-top {
  position: relative;
  display: table;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
  color: $purple;
  transition: all .4s;
  &:hover {
    color: $tundora;
	&::before,
    &::after {
      top: -30px;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -20px;
    display: block;
    width: 10px;
    height: 2px;
    background: $purple;
    z-index: 100;
    transition: all .4s;
  }
  &::before {
    left: 50%;
    transform-origin: left;
    transform: translateX(-50%) rotate(135deg);
  }
  &::after {
    right: 50%;
    transform-origin: right;
    transform: translateX(-50%) rotate(225deg);
  }
}
